@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Roboto:wght@100&display=swap');

body {
    background-image: url("../assets/Flower_background\ image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%
}

h2, h1 {
    font-family: 'Roboto', sans-serif;
}

#header {
    font-size: 3rem;
}

.book-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    max-width: 1200px;
    margin: 0 auto;
    visibility: show;
}

/* .search-results {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  } */

  /* .search-result {
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
   */

#list-output{
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

#list-output p {
    margin-bottom: 10px;
}

/* For small screens (portrait phones) */
@media (max-width: 576px) {
    body {
        background-size: auto;
      
    }
}